hello this is home page where I introduce stuff

{% if not user.display_name %}
    <a href="{% url 'login' %}">login</a>
{% endif %}
<a href="{% url 'logout' %}">logout</a>

<br>
For Testing:
{{ user }}
<br>
<br>
{{top_tracks}}
<br>
<br>
{{ top_tracks.albums }}
<br>
<br>
{{ top_tracks.year_released }}
<br>
<br>
{{ top_playlist.top_playlist.common_date_added }}
<br>
<br>
{{ top_recent }}
<br>
<br>
{{recent_audio_features}}
<br>
<br>
{{top_audio_features}}
<br>
<br>
{{ graph|safe }}
{{ graph1|safe }}
{{ graph2|safe }}
<br>
{{ track_rec}}